$dialog-radius: 10px;
$dialog-bar-radius: $dialog-radius * 2;
$dialog-background-color: #fff;
$dialog-bar-background-color: #1ccc6e;

.dialog-container {
  display: none;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  opacity: 0.9;
}

.dialog {
  position: absolute;
  width: 380px;
  height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $dialog-background-color;
  font-weight: bold;
  left: 0px;
  right: 0px;
  margin: auto;
  top: 220px;
  border: 1px solid #888888;
  box-shadow: -1px 1px 3px #898686;
  border-radius: $dialog-radius;
}

.dialog:hover {
  cursor: pointer;
}

.dialog-bar {
  width: 99%;
  height: 4px;
  margin: auto;
  margin-top: 0px;
  background-color: $dialog-bar-background-color;
  border-top-left-radius: $dialog-bar-radius;
  border-top-right-radius: $dialog-bar-radius;
}

.dialog-title {
  flex-grow: 1;
  text-align: center;
  padding: 8px;
}

.dialog-text {
  flex-grow: 5;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  word-break: break-all;
}

.dialog-btn-box {
  flex-grow: 4;
  display: flex;
  width: 100%;
}

.dialog-btn {
  background-color: $dialog-background-color;
  padding: 0px;
  font-size: 1rem;
  font-weight: bolder;
}

.dialog-btn-box :nth-child(1) {
  flex-grow: 1;
  border-left: 0px;
  border-bottom: 0px;
  border-bottom-left-radius: $dialog-radius;
}

.dialog-btn-box :nth-child(2) {
  flex-grow: 1;
  color: #5bcf9c;
  border-right: 0px;
  border-bottom: 0px;
  border-bottom-right-radius: $dialog-radius;
}
